body{
	background-color: pink;
}
nav.nav-center ul {
    text-align: center;
    height: 50px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
nav.nav-center ul li {
    display: inline;
    float: none;
   height: 50px;
   padding-bottom: 15px;
   margin-bottom: 10px;
}
nav.nav-center ul li a {
    display: inline-block;
	height: 50px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
nav{
	line-height: 50px;
	height: 50px;
	background-color: $color_cafe;
}